python-telegram-bot
google-generativeai
python-dotenv
pandas
plotly
streamlit
pypdf
faiss-cpu
langchain
langchain-google-genai
langchain-google-community
langchain-text-splitters
cryptography
google-api-python-client
google-auth
pdf2image
pytz